.admin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
}

.admin-container h1 {
    margin-bottom: 42px;
    font-size: 20px;
    text-align: center;
   
}

.admin-container h2 {
    margin: 8px 0;
}

.username {
    color: #567ef7;
    text-transform: capitalize;
}

.btn-register {
    margin-bottom: 28px;
}

.list {
    width: 90%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    background-color: rgba(56, 56, 56, 0.38);
    border-radius: 8px;
    margin-bottom: 12px;
    justify-content: center;
    padding: 14px 12px;
}

.list p {
    margin-bottom: 8px;
    font-size: 18px;
}

.list button {
    margin-right: 8px;
    border: 0;
    border-radius: 4px;
    padding: 6px;
}

.list span {
    font-size: 16px;
    color: #FFF;
    text-align: center;
}

.btn-edit {
    background-color: #5ec432;
    transition: ease 0.3s;
}

.btn-edit:hover {
    background-color: #87e060;
}

.btn-done {
    background-color: rgb(255, 1, 1);
    transition: ease 0.3s;
}

.btn-done:hover {
    background-color: rgb(255, 94, 72)
}

.btn-logout {
    position: absolute;
    bottom: 6%;
    left: 4%;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 0;
    font-weight: bold;
    background-color: rgba(219, 38, 41, 0.35);
    color: #fafafa;
    transition: all 0.5s;
}

.btn-logout:hover {
    background-color: rgba(219, 38, 41, 1);
    color: #FFF;
}